section.section.section-can-learn
  .section-can-learn__content
    h2
      span.text У нас ви можете
        span.bg
      br.break-heading-1
      span.text  вивчити:
        span.bg
    .section-can-learn__languages
      .section-can-learn__language
        img(src="images/flag-uk.svg", alt="UK flag")
        p Англійську
      .section-can-learn__language
        img(src="images/flag-germany.svg", alt="Germany flag")
        p Німецьку
      .section-can-learn__language
        img(src="images/flag-spain.svg", alt="Spain flag")
        p Іспанську
      .section-can-learn__language
        img(src="images/flag-france.svg", alt="France flag")
        p Французьку
