@font-face {
  font-family: 'NextHeavy';
  font-weight: 900;
  src: url("../../../fonts/NEXT-ART-Heavy.otf") format("opentype");
}

@font-face {
  font-family: 'RalewayLight';
  font-weight: 300;
  src: url('../../../fonts/Raleway-Light.ttf')  format('truetype');
}

@font-face {
  font-family: 'RalewayMedium';
  font-weight: 500;
  src: url('../../../fonts/Raleway-Medium.ttf')  format('truetype');
}