doctype html 
html(lang="ua")
  head 
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    // displays site properly based on user's device
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    include includes/links-favicon.pug
    include includes/links-fonts.pug
    title Навчання для дорослих | Speaky School
    include includes/links-assets.pug
  body 
    include includes/header.pug
